<link rel="icon" href="/images/favicon.ico?v=3" sizes="any">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png?v=3">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png?v=3">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png?v=3">
<link rel="manifest" href="/images/site.webmanifest?v=4">

<meta name="theme-color" content="#7a1734">
<link rel="stylesheet" href="/assets/css/academicons.css"/>

<!-- end custom head snippets -->
