<meta charset="utf-8">

{% include seo.html %}

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="alternate" hreflang="en" href="{{ site.url }}/">
<link rel="alternate" hreflang="zh-CN" href="{{ site.url }}/zh/">
<link rel="alternate" hreflang="x-default" href="{{ site.url }}/">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="/assets/css/main.css">

<meta http-equiv="cleartype" content="on">
